@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

*{
    font-family: 'Contrail One', cursive;
    margin: 0;
}
p{
    font-weight: 200;
    line-height: 2em;
}

.diet_section{
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
}
.skid_heading{
    color: orange;
}
.heading1{
    font-size: 50px;
}
.order_btn{
    text-decoration: none;
    background-image: linear-gradient(orange,#fe4c2f);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 30px;
}

.diet_area{
    width: 50%;
    margin-top: 250px;
    
}
.burger_area{
    width: 50%;
}

.second_section{
    display: flex;
    
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.person_img{
    width: 50%;
}

.about_image_area{
    width: 50%;
    margin-left: 100px;
}
h1{
 font-size: 50px;
 color: #707070;
}

.about_text_area{
    width: 50%;
    margin-top: 250px;
}
.about_btn{
    text-decoration: none;
    background-image: linear-gradient(orange,#fe4c2f);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 30px;
}
.about_details{
    font-size: 20px;
    line-height: 2em;
}
.diet_details{
     font-size: 20px;
     color: #707070;
}
.recepie_section{
    margin-top: 100px;
   
}
.head{
    text-align: center;
    width: 40%;
    margin: auto;
    padding-bottom: 100px;
}

.cards{
    display: flex;
    margin-left: 5%;
     margin-right: 5%;
}
.recepies{
    width: 25%;
    box-shadow: 10px 10px 40px rgb(141, 141, 141);
    padding: 20px;
    margin-left: 5%;
    border-radius: 20px;
}
.recepie_img{
    width: 100%;
    margin-bottom: 20px;
   
}
.recepie_title{
    margin-bottom: 25px;
}
.recepie_details{
    text-align: justify;
}
footer{
    background:black;
    color: white;
   margin-top: 100px;
   padding: 50px;
   text-align: center;
}
.footer_color{
    color: orange;
}
.follower{
    display: flex;
    margin-left: 10%;
    margin-right: 8%;
    margin-top: 100px;
     box-shadow: 10px 10px 40px rgb(141, 141, 141);
     border-radius: 20px;
     
}
.follow_area{
    width: 25%;
    margin-left: 5%;
    padding: 100px;
}
.follow_area h2{
    font-size: 45px;
}


